
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top:  64px; width: 100%;">
    <h3 style="color:rebeccapurple">Branch 2 PAGE </h3>
    <img alt="clouds" src="clouds.jpg" style="width:85%; height: auto;"/>
</div>