

<div style="justify-content: center;margin-top: 120px;">
    <h3 style="color:deeppink;">Branch 1 PAGE </h3>
    <p style="margin-left:24px;display: block;">
        This page is deliberately kept fairly empty. Its content is contained within branch3 branch only, unless the branch (and its content) gets merged into another branch. 
            In such a case, branch3 and its content will remain the same, but the branch its merged to will have branch3's content added on top of it. 
            But this branch will always be like this, unless the branch itself is pushed to. 
    </p>
</div>

