@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 44px;">
    <h2 class="display-4">Welcome to </h2>
    <h1 style="margin-top: 200px; color: deeppink"><strong>Branch 1</strong> </h1>
</div>