@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 44px;">
    <h2 class="display-4">Welcome to </h2>
    <h1 style="margin-top: 150px; color: rebeccapurple"><strong>Branch 4</strong> </h1>
    <p style="margin-top: 44px; color: rebeccapurple; font-size: 32px;">On this branch, you can only see Home page, and Branch 4 page. 
        Branch 4 is where you can add text content to the branch 4 page, and then submit it as a pull request. The pull request can be reviewed by another developer, then approved or rejected.</p>
    <p>If your pull request is approved, the content you added should appear on branch4 if you pull the branch or switch to it from another branch. </p>
</div>
