@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 44px;">
    <h2 class="display-4">Welcome to </h2>
    <h1 style="margin-top: 150px; color: rebeccapurple"><strong>Branch 3</strong> </h1>
    <p style="margin-top: 44px; color: rebeccapurple; font-size: 32px;">On this branch, you can only see Home page, and Branch 3 page. <br/><br/>
        Branch 3 page is where we can add/remove blocks of code and push changes to the branch, to experiment with "git push".
        You cannot access content from other branches here. <br/><br/>
    <p>There is a potential to use branch 3 for "git pull" demonstration as well.</p>
</div>
