@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 44px;">
    <h1 style="margin-top: 68px; color: rebeccapurple"><strong>Branch 5 : Merge Conflicts </strong> </h1>
    <p style="margin-top: 44px; color: rebeccapurple; font-size: 32px;margin-bottom: 144px;">On this branch, you can only see Home page. It is designed to be very simliar to branch5_merge2, 
        so that merging the two branches causes a merge conflict with the text below: </p>
    
    <p id="conflictParagraph"> !!!!!!!!!!Right now Im on branch5_merge, and thats how I like it!!!!!!!!!!!!</p>
</div>
