

<div style="display: flex;justify-content: center;margin-top: 120px;">
    <h4 style="color:rebeccapurple">Branch 3 PAGE - Comment/Uncomment code blocks below then push your changes for others to see.</h4>
    <p> Others may see your changes by either:</p>
    <ul>
        <li>
            <p>Switching to branch 3 from a different branch after your changes have been pushed</p>
        </li>
        <li>
            OR if the other dev is already on branch 3, after you push, they may use "git pull" to update the branch code on their device's local branch.
        </li>
    </ul>
</div>

