
<body>
<div style="display: block;justify-content: center;margin-top: 84px;height: 64px;">
    <h3 style="color:rebeccapurple;width: 100%">Branch 3 PAGE</h3>
    <h5 style="text-align: center;">Push your changes for others to see.</h5>
    <h6>Try commenting and uncommenting different lines of the "img" code, then push the changes following the Git Guide process in Confluence. 
        After you've pushed your changes, switch to branch1 or branch2. <br style="margin-bottom: 16px;"/><br/>
        Now, switch back to branch3_pushing and see that your changes have been added to the cloud/remote/Github. <br/>
        You may also have another developer switch to branch3_pushing or pull the branch changes if they are already on that branch by using "git pull".</h6>
    <p style="margin-top:8px;"> Others may see your changes by either:</p>
     <ul style="margin-bottom: 8px;">
         <li>
             <p>Switching to branch3_pushing from a different branch after your changes have been pushed if they havent pulled that branch before</p>
         </li>
         <li>
             OR if the other dev is already on branch 3 or already has it, after you push, they may use "git pull" to update the branch code on their device's local branch.
         </li>
     </ul>
    
    <div style="text-align: center;margin-top: 64px;">
              @* CODE BELOW THIS LINE TO BE ALTERED: --------------------------------------------------------------------------------------------------------------------- *@
          
              
              
              <p style="margin-bottom:12px;margin-top: 12px;">IMAGE 1 - Robot BARISTA</p>
              <img src="roboBarista.webp"  alt="robotBarista" style="height:400px;width: 650px;"/>
              <h1> HELLO MAXWELL THIS WAS DAVID </h1>
              
              <h1> This is Tom's message </h1>
          
              @*<p style="margin-bottom:20px;margin-top: 12px;">IMAGE 2 - DOG-E</p>
              @*<img alt="roboDog" src="roboDog.jfif" style="height:200px;width:400px; display: block;margin: auto;border-radius:10px;"> *@
          
              <p style="margin-bottom:12px;margin-top: 12px;">Ominous Purple Square</p> 
              <div style="width:100px;height: 100px;background-color: purple; display: block;justify-content: center;margin: auto;border-radius:10px;"></div>
              
              
              
              @* CODE ABOVE THIS LINE TO BE ALTERED: --------------------------------------------------------------------------------------------------------------------- *@
          
          </div>
</div> 
    



</body>