
<body>
<div style="display: block;justify-content: center;margin-top: 84px;height: 64px;">
    <h3 style="color:rebeccapurple;width: 100%">Branch 3 PAGE</h3>
    <h5>Comment/Uncomment the img code blocks below then push your changes for others to see.</h5>
</div> 
    <p style="margin-top:8px;"> Others may see your changes by either:</p>
        
<ul style="margin-bottom: 8px;">
    <li>
        <p>Switching to branch 3 from a different branch after your changes have been pushed</p>
    </li>
    <li>
        OR if the other dev is already on branch 3, after you push, they may use "git pull" to update the branch code on their device's local branch.
    </li>
</ul>

<div style="text-align: center;">
    @* CODE BELOW THIS LINE TO BE ALTERED: --------------------------------------------------------------------------------------------------------------------- *@
    
    @* <p style="margin-bottom:12px;margin-top: 12px;">IMAGE 1 - Robot BARISTA</p> *@
    @* <img style="height:200px;width:400px; display: block;margin: auto" alt="roboBarista" src="roboBarista.webp"> *@

    <p style="margin-bottom:12px;margin-top: 12px;">IMAGE 2 - DOG-E</p>
    <img alt="roboDog" src="roboDog.jfif" style="height:200px;width:400px; display: block;margin: auto">

    <p style="margin-bottom:12px;margin-top: 12px;">Ominous Purple Square</p>
    <div style="width:100px;height: 100px;background-color: purple; display: block;justify-content: center;margin: auto;"></div>
</div>

</body>